.promo {
  max-width: 1280px;
  height: 493px;
  background: #202020;
  padding: 20px 40px 0;
  margin: 0 auto 0;
}

.promo__container {
  background: #202020;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  max-width: 1280px;
  max-height: 586px;
  margin: 0 auto 0;
}

.promo__texts {
  width: 1200px;
  background: #272727;
  display: flex;
  flex-direction: column;
  margin: auto;
  border-radius: 10px;
}

.promo__title {
  font-size: 50px;
  line-height: 58px;
  font-weight: 400;
  letter-spacing: -0.04em;
  max-width: 730px;
  text-align: center;
  margin: 160px auto 151px;
  padding: 0 50px 0;

}

.promo__links {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 30px;
}

.promo__link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #303030;
  border: solid 1px #303030;
  width: 96px;
  height: 36px;
  font-size: 12px;
  line-height: 16px;
  border-radius: 10px;
  transition: opacity 0.3s;
  box-sizing: border-box;
}

.promo__link:hover {
  opacity: 0.6;
  border: solid 1px black;
}

.promo__image {
  width: 310px;
  height: 304px;
}

@media screen and (max-width: 769px) {
  .promo {
    padding: 20px 20px 0;
    max-width: 768px;
    height: 834px;
  }

  .promo__container {
    max-height: 834px;
  }

  .promo__texts {
    height: 834px;
  }

  .promo__links {
    margin: 0 auto 30px;
  }

  .promo__image {
    width: 210px;
    height: 206px;
    background-size: contain;
    margin-bottom: 44px;
  }

  .promo__title {
    font-size: 40px;
    line-height: 52px;
    max-width: 680px;
    letter-spacing: -0.04em;
    margin: 350px auto 314px;
  }

}

@media screen and (max-width: 662px) {
  .promo__title {
    font-size: 29px;
    line-height: 37px;
    letter-spacing: -0.04em;
    padding: 0 30px 0;
  }
}

@media screen and (max-width: 321px) {
  .promo {
    padding: 14px 14px 0;
    height: 586px;
  }

  .promo__title {
    max-width: 292px;
    margin: 220px auto 212px;
    padding: 0;
  }

  .promo__texts {
    height: 586px;
  }

  .promo__link {
    width: 82px;
    height: 26px;
    font-size: 10px;
  }

  .promo__links {
    margin-bottom: 17px;
  }

  .promo__link {
    margin-top: 0;
  }
}