.main {
  width: 100%;
}

.section__title {
  font-weight: 400;
  font-size: 22px;
  height: 27px;
  margin: 0;
  letter-spacing: -0.04em;
  border-bottom: 1px solid #DADADA;
  padding-bottom: 23px;
}

@media screen and (max-width: 767px) {
  .section__title {
    font-size: 18px;
    padding-bottom: 28px;
    height: 22px;
  }
}